<h1>ALL POSTS</h1>

<% posts.forEach(post => { %>
    <h2><%=  post.title %></h2>
    <p>Price: $<%= post.price %></p>
    <p>Description: <%= post.description %></p>
    <em>Location: <%= post.location %></em>
<% }); %>